body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.header {
    padding: 30px;
    /*background-color: bisque;*/
    text-align: center;
    border: 1px solid gray;
}

.animation {
    width: 100px;
    height: 100px;
    background-color: red;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 4s;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes example {
    /*
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }*/
    0% {
        background-color: red
    }
    ;
    25% {
        background-color: yellow;
    }
    ;
    75% {
        background-color: blue;
    }
    ;
    100% {
        background-color: green;
    }
    ;
}


/* Standard syntax */

@keyframes example {
    /*
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }*/
    0% {
        background-color: red;
    }
    ;
    25% {
        background-color: rgb(221, 236, 0);
    }
    ;
    75% {
        background-color: rgb(42, 165, 97);
    }
    ;
    100% {
        background-color: rgb(101, 9, 221);
    }
    ;
}